@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    border-width: 0;
    border-color: rgb(226, 232, 240);
}


/* Generalss, (to be used everywhere because yah, it's general) */

.website__padding--whole {
    padding: 32px;
    overflow: hidden;
}

i {
    font-size: 20px;
    border: 0 solid ;
    border-radius: 100px;
    padding: 8px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn--purple {
    color: #f7fafc;
    background-color: #6415ff;
    border-radius: 9999px;
}

.upper {
    text-transform: uppercase;
}

.purple {
    color: #6415ff;
}




/* 

Navigationings

*/

nav {
    display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__logo {
    width: 100%;
    max-width: 40px;
    margin-right: 12px;
}

.nav__logo--link {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    color: #243E63;
    margin-right: 24px;
    padding-bottom: 4px;
}

.nav__link {
    margin: 0 24px;
    padding-bottom: 4px;
    font-size: 14px;
    color: #243E63;
    font-weight: 600;
}

.nav__link--login {
    margin-left: 48px;
}

.nav__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
}


/* 

anyway HEADERERS

*/

.header__row {
    width: 100%;
    max-width: 1200px;
    padding: 96px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__description {
    width: 40%;
}

.header__para {
    margin: 32px 0;
    font-size: 18px;
}

h1 {
    color: #1a202c;
    font-size: 48px;
    line-height: 1.25;
}

.header__input {
    position: relative;
    max-width: 428px;

    /* ALWAYS D.F. ON PARENT DIVS OR ROW/CONTAINER PLS */
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    border-radius: 9999px;
    border: 2px solid rgb(226, 232, 240);
    padding: 20px 192px 20px 32px;
    font-weight: 500;
}

input::placeholder {
    opacity: 0.5;
}

input,
button {
    font-size: 100%;
}


.header__button {
    position: absolute;
    padding: 16px 0;
    width: 100%;
    max-width: 160px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    right: 0;
    margin-right: 8px;
}


.header__customers {
    margin-top: 80px;
}

.header__customer--para {
    font-size: 12px;
    color: #a0aec0;
}

.header__customers--img {
    width: 100%;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__big-img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
}



/* 

I cannot believe it pero LEZGO FEATUUUUUUUUURES

*/

.container {
    padding: 80px 0;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.features__title {
    text-align: center;
}

.features__small-title--wrapper {
    margin-bottom: 16px;
}

.features__small-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

h2 {
    color: #243E63;
    font-size: 48px;
    font-weight: 900;
}

.features__para {
    width: 100%;
    max-width: 576px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 60px;
    line-height: 1.625;
}

.features__services--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features__services {
    display: flex;
    margin: 0 16px;
    padding: 32px 8px;

    /* ill explain from what I can logic, making it /4 resulted to more space since idk, 4>3, honestly just a blind guess, BUT IT WORKSS  */
    width: calc(100%/4);
}



.features__img {
    padding: 20px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.090);
}


/* I put img container div so I can  shape za border to a circle and not cover the entire space, BIG BRAIN */

.features__lists {
    margin-top: 8px;
    margin-left: 16px;
}

.features__title--services {
    color: #243E63;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
}

.features__description {
    color: #7c8ba1;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    line-height: 2;
}




/* This universal row is for  quality work until the buying now thing */

.main__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 96px 0;
}



/* 

Quality Work, Steps, Values - can honestly dictate that they are the same, on some terms 

*/



.quality__content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__big--sub-title {
    margin-top: 16px;
}

.quality__para {
    margin: 16px 0 0 0;
}

.quality__button {
    margin-top: 32px;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 700;

    /* this thing enables the margin to take place, if removed, it sticks below para */
    display: inline-block;
}

.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    width: 100%;
}


/*

WE NOW STEPS, I REUSED SOME CODES FROM QUALITY, PLS BEAR WITH MY LAZY

*/


.steps__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__wrapper {
    margin-left: 73px;
    padding: 32px 0;
}

.steps__container {
    display: flex;
    margin-top: 32px;
}

.steps__number {
    display: flex;
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.steps__row--wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

h3 {
    color: #243E63;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;   
}

.steps__para {
    max-width: 320px;
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    margin-top: 12px;
}


/* 

Valyouuuuuuuuuss

*/



.values__principles--wrapper, 
.values__principles--title,
.values__principles {
    width: 100%;
    display: flex;
}

.values__principles {
    flex-direction: column;
    margin-top: 32px;
    margin-right: 16px;
}

.values__img--dollar {
    color: rgb(45, 126, 73);
    background-color: rgb(154 230 180);
    font-size: 20px;
    border: 0 solid ;
    border-radius: 100px;
    padding: 8px;
}

h4 {
        width: 25px;
        text-align: center; 
        position : relative;
      }
      
h4:before { 
        position: absolute;
        content : "";
        left  : 45%;
        top   : 0;
        height: 100%;
        width : 0;
        border-right: 2px  rgb(45, 126, 73) solid;
       }


.values__img--briefcase {
    color: rgb(155, 43, 43);
    background-color: rgb(255, 140, 140);
}

.values__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    color: #243E63;
    font-size: 20px;
    font-weight: 700;
}

.values__principles--para {
    margin-top: 16px;
    color: #718096;
    font-size: 16px;
    line-height: 1.625;
}



/* 

PRICEEEEE , I WANT MONEY, tbh idk how to earn money with what I have learned as of now, but I'll stick with what I do know and just enjoy this thing while I get to finish an awesome project, LEZGOOOOO

*/


.pricing__column {
    flex-direction: column;
}

.main__three-titles {
    text-align: center;
}

.pricing__para {
    margin: 16px auto 0 auto;
}

.plans__wrapper {
    display: flex;
    
    /* since the original width from THE website contains wider 1200+ to be exact, while pdf guides me to do 1200px so Imma stop explaining why I do not use flex wrap and go along with it */
    justify-content: space-between;
    align-items: center;
}

.plans {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    margin-right: 32px;
    /* padding: 8px 32px 0; this thing caps my line divider thing */
    border: 0 solid white;
    border-radius: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    overflow: hidden;
}

.plans__business {
    background-color: rgb(102, 126, 234);
}

.plans__title,
.plans__features,
.plans__button--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plans__features {
    padding: 32px;
    border: 2px solid;
    border-right-width: 0;
    border-left-width: 0;
    border-color: #d7d7d799;
}

.business--blue {
    border-color: rgb(117, 141, 249);
}


.plans__horizontal {
    position: absolute;
    height: 8px;
    left: 0;
    right: 0;
    top: 0;

    /* idk why this is here honestly, but my instinct tells me, I need this here */
    color: inherit;
}

.hr__kinda-green {
    background-color: rgb(56, 178, 172);
}

.hr__kinda-red {
    background-color: rgb(245, 101, 101);
}

.hr__kinda-white {
    background-color: white;
    color: rgb(100 21 255);
}

.plans__title {
    padding: 32px;
}

.plans__name,
.plans__price,
.plans__features--title {
    color: #1a202c;
    font-weight: 700;
}

.plans__features--title {
    font-size: 20px;
}

.plans__price {
    font-size: 48px;
    margin: 20px 0;
}

.plans__duration {
    font-size: 16px;
    font-weight: 700;
    color: rgb(160 174 192);
}

.plans__feature {
    color: rgb(113 128 150);
}

.plans__feature,
.plans__feature--white {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.plans__button--wrapper {
    padding: 32px 64px;
}

.plans__button {
    width: 100%;
    padding: 16px 32px;
    font-size: 14px;
    font-weight: 700;
}

/* pricing section again, but I store business things below here */

.business--white {
    color: #f7fafc;
}

.plans__duration--white {
    color: #edf2d7;
    font-weight: 700;    
}

.plans__feature--white {
    color: #e2e8f0;
}

/* idk where the other business codes there, maybe added later, but for now, I am lazy so good luck future me finding the others */


/* 

AAAAAND TESTIC- TESTIMONIALSS

*/


/* straight to experiences section (still under testicles) */

/* ok imma sort this out so it looks well-efforted and organized, or so just I can look for debugs a lot fastrer */
/* heres za order: so container,row,another child idk,then the texts, then I currently foresaw I'll just ignore this order, depends... */


.quality__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test__experiences {
    display: flex;
    flex-direction: column;
}

.test__content {
    padding-left: 64px;
}

.experience__users--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience__users {
    display: flex;
}

.experience__users--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.experience__users--wrapper {
    /* idk yet */
    width: 100%;
}

.user__img--wrapper {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    overflow: hidden;
}

.fa-star {
    font-size: 16px;
    padding: 0;
    padding-top: 50px;
}

.experience__title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
    color: #243E63;
}

.experience__description {
    color: #4a5568;
    font-size: 16px;
    font-weight: 500;
    margin: 16px 0 40px;
}

.experience__users--occupation {
    margin-top: 0;
}

.divider {
    display: inline;
    margin: 12px 14px 12px 10px;
    border: 1px solid rgba(128, 128, 128, 0.131);
}

.exp__btn {
    border-radius: 100px;
}

.user__img {
    width: 100%;
    max-width: 100px;
}

